/* Si quieren utilizar CSS personalizado para la tarea, utilicen este archivo */

.nav-item a{
    color:white;
}

.nav-item a:hover{
    color:darkgray;
}

html {
    background-image: url(/img/loop);
    background-size: 100%;
}

.contenedor {
    background-image: url(/img/loop);
    background-size: 100%;
}